*.d.ts
*.js
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
!jest.config.js
!setup.js

# Terraform output directories
cdktf.out/

# Dependency directories
node_modules/

# System Files
**/.DS_Store
*.DS_Store
